<div class="container-fluid pt-5 pb-5">
    <div class="card shadow col-md-10 offset-md-1">
      <div class="card-body">
        <h2 class="text-center">Steps for Register for New Connection</h2>
        <form >
          <div class="row pb-4">
           <ul>
               <li>    
                   Step 1: Fill up Registration Form
                </li>
                <li>
                    Step 2: Submit Form
                </li>
            </ul>

          </div>
          
        </form>
      </div>
    </div>
  </div>
  
  <div class="container-fluid pt-5 pb-5">
    <div class="card shadow col-md-10 offset-md-1">
      <div class="card-body">
        <h2 class="text-center">Steps for Track New Application Status</h2>
        <form>
            <div class="row pb-4">
                <ul>
                    <li>    
                        Step 1: Enter Your Mobile Number
                     </li>
                     <li>
                         Step 2: Click on Get Your Application Status Button
                     </li>
                 </ul>
     
               </div>
         
        </form>
      </div>
    </div>
  </div>
  