<!-- Welcome Admin Start -->
<div class="container-xxl my-5 py-5">
    <div class="container">
        <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
            <h1 class=" bg-white text-center px-3">Welcome to Admin Dashboard</h1>
            <h5 class="mb-5 section-title bg-white text-center px-3">
                Admin Detials will show here
            </h5>
        </div>
    </div>
</div>
<!-- Welcome Admin End -->
