<div class="admin-sidebar">
  <ul class="nav flex-column">

      <li class="nav-item">
          <a mat-flat-button color="" class="m-4 mt-5" routerLink="/admin/dashboard"
              routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item">
          <a mat-flat-button color="" class="m-4" routerLink="/admin/userlist" routerLinkActive="active">User
              List</a>
      </li>
      <li class="nav-item">
          <a mat-flat-button color="" class="m-4" routerLink="/admin/complaints"
              routerLinkActive="active">Complaints</a>
      </li>
      <li class="nav-item">
          <a mat-flat-button color="" class="m-4" routerLink="/admin/application-list"
              routerLinkActive="active">Application List</a>
  </ul>
</div>